.title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 50px;
}
.join_table td {
    padding: 5px;
}
.join_table input, .join_table select {
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.join_table #member_birth_year,
.join_table #member_birth_month,
.join_table #member_birth_date {
    width: 60px;
}
.join_table button {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080; padding: 10px 20px;
    cursor: pointer;
}
.join_table #join {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 100px;
    height: 50px;
    width: 300px;
    font-weight: 600;
    background-color: #5f0080;
    color: #fff;
}

.join_table {width: 540px; margin: 0 auto; margin-top: 20px;}
.join_table tr:last-child {text-align: center;}
.join_table select {width: 323px;}

p {
    color: gray; 
    text-align: center;
    margin-bottom: 50px;
}
.red {color: red;}