#img_preview img{
    width: 200px;
}
.preview img{
    width: 50px;
}

#add_product{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080; padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 15px;
}
#add_product:hover {
    background-color: #f4f3f9;
}

#close {
    position: absolute; right: 20px; top: 20px;
    font-size: 20px; padding: 0; background-color: transparent; border: 0;
    line-height: 27px; color: #fff; cursor: pointer;
}

.product_form {
    position: fixed; background-color: #fff;
    z-index: 999; 
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding-top: 80px;
    border-radius: 5px;
    left: 40%; margin-left: -130px; 
    display: none;
}
.product_form > h1 {
    width: 100%; position: absolute; top: 0; left: 0;
    padding: 20px; color: #fff; user-select: none; cursor: grab;
    font-size: 24px; text-align: center; font-weight: 700; box-sizing: border-box;
    background-color: #5f0080;
}
/* .product_form > h1:active {
    cursor: grabbing;
} */
.product_form input {
    width: 200px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px; 
    border: 1px solid #aaa; border-radius: 3px;
}
.product_form select {
    width: 223px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px;
    border: 1px solid #aaa; border-radius: 3px;
}
.product_form textarea{
    width: 202px; font-family: "Noto Sans KR", sans-serif;
    outline: none; padding:7px 10px; margin-bottom: 10px;
    border: 1px solid #aaa; border-radius: 3px;
    resize: none;
}

#image_form > input {
    border: 0; padding: 0; width: 75px; font-family: "Noto Sans KR", sans-serif;
    color: #fff;
}
#image_form button {
    background-color: #5f0080; color: #fff; 
    font-family: "Noto Sans KR", sans-serif; border: 0; padding: 3px 20px; margin-left: 5px;
    border-radius: 3px; font-size: 14px;
}

#save, #modify {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #5f0080;
    background-color: #fff;
    color: #5f0080; padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#save:hover, #modify:hover {
    background-color: #f4f3f9;
}

.product_table td {
    align-content: center; vertical-align: middle;
}
.product_table td:nth-child(3) {padding-left: 20px;}
.product_table input {vertical-align: middle; margin-bottom: 0;}
.product_table select {vertical-align: middle; margin-bottom: 0;}
.product_table textarea {vertical-align: middle; margin-bottom: 0;
width: 96%;}
.product_table td {padding-bottom: 10px; padding-right: 10px;}


#product_list_table td {
    border-bottom: 1px solid #ccc; padding: 10px;
    vertical-align: middle; text-align: center;
}
#product_list_table tr:nth-child(even) {
    background-color: #fbfbfb;
}
#product_list_table {min-width: 1050px; margin-top: 30px; margin-bottom: 300px;}
#product_list_table thead td {background-color: #5f0080; color: #fff;}

.product_modify, .product_delete {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    color: #5f0080;
    border: 1px solid #5f0080;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 50px;
}

#search {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    color: #5f0080;
    border: 1px solid #5f0080;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 60px;
}

#search:hover {
    background-color: #f4f3f9;
}

.search_area input {
    height: 25px;
    width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#cate_search {
    height: 45px;
    width: 250px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.search_area span {
    font-size: 15px;
}