<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.SellerMapper">
    <insert id="insertSellerInfo">
        INSERT INTO seller_info
        (
            si_id, si_pwd, si_name, si_address, si_email, si_phone
        )
        VALUES
        (
            #{si_id}, #{si_pwd}, #{si_name}, #{si_address}, #{si_email}, #{si_phone}
        )
    </insert>
    <select id="selectSellerInfoById" resultType="java.lang.Integer">
        select count(*) from seller_info where si_id = #{id}
    </select>
    <select id="selectSellerInfoAll" resultType="com.greenart.vo.SellerVO">
        select * from seller_info
    </select>
</mapper>
